<html>
  <head>
    <script src="/javascripts/aframe.js"></script>
  </head>
  <body>
   <a-scene background="color: #222222">
   
   <a-assets>
         <audio id="river" src="http://commondatastorage.googleapis.com/codeskulptor-demos/DDR_assets/Kangaroo_MusiQue_-_The_Neverwritten_Role_Playing_Game.mp3" preload="auto"></audio>
           <img 
             id="space"
             src="img/textures/espacio.jpg">
           <img 
             id="sun" 
             src="img/textures/sol.jpg">
           <img 
             id="mercury"
             src="img/textures/mercurio.jpg">
           <img 
             id="venus"
             src="img/textures/venus.jpg">
           <img
             id="earth"
             src="img/textures/tierra.jpg">
           <img 
             id="mars"
             src="img/textures/marte.jpg">
           <img 
             id="jupiter"
             src="img/textures/jupiter.jpg">
           <img 
             id="saturn"
             src="img/textures/saturno.jpg">
           <img 
             id="uranus"
             src="img/textures/urano.jpg"> 
           <img 
             id="neptune"
             src="img/textures/neptuno.jpg"> 
         </a-assets>
		 
		 <!-- Space -->
		 <a-sky
		         src="#space"></a-sky>
		 
        <!-- Sun -->
        <a-sphere 
          src="#sun"
          position="-13 2 -10" 
          radius="4"></a-sphere>

        <!-- Mercury -->
        <a-sphere
		src="#mercury"
          color="#AF886D"
          position="-7 2 -10"
          radius=".25"></a-sphere>

        <!-- Venus -->
        <a-sphere 
          src="#venus"
          position="-5 2 -10" 
          radius=".5"></a-sphere>

        <!-- Earth -->
        <a-sphere 
          src="#earth"
          position="-3 2 -10" 
          radius=".5"></a-sphere>

        <!-- Mars -->
        <a-sphere 
          src="#mars"
          position="-1 2 -10" 
          radius=".25"></a-sphere>

        <!-- Jupiter -->
        <a-sphere 
          src="#jupiter"
          position="1 2 -10"
          radius="1"></a-sphere>
      
        <!-- Saturn -->
        <a-sphere 
          src="#saturn"
          position="4 2 -10" 
          radius=".8"></a-sphere>

        <!-- Uranus -->
        <a-sphere 
          src="#uranus"
          position="7 2 -10"
          radius=".75"></a-sphere>

        <!-- Neptune -->
        <a-sphere 
          src="#neptune"
          position="10 2 -10" 
          radius=".75"></a-sphere>
     

        <!-- The other not-so-basic planets. These have rings around them. The rings are made of torii (singular torus) a shape that can be used to make donuts, tubes and yes, ring shapes -->
        <a-entity id="saturn-container" position="4 2 -10">
          <a-sphere position="0 0 0 " radius=".8" color="#F8EC99" id="saturn"></a-sphere>
          <a-torus id="saturn-ring-1" color="#57524A" segments-tubular="50" radius="3.2" radius-tubular="0.1" rotation="90 0 0" scale=".44 .44 0.04"></a-torus>
          <a-torus id="saturn-ring-2" color="#A29A87" segments-tubular="50" radius="2.4" radius-tubular="0.2" rotation="90 0 0" scale=".44 .44 0.04"></a-torus>
        </a-entity>

        <a-entity id="uranus-container" position="7 2 -10">
          <a-sphere id="uranus" radius=".75" color="#73AAF8"></a-sphere>
          <a-torus id="uranus-ring" color="#FFFFFF" segments-tubular="50" radius="1.5" radius-tubular="0.01" rotation="-10 90 0" scale=".75 .75 0.075"></a-torus>
        </a-entity>

      </a-scene>
  </body> 
</html>
